<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true">
    <testsuites>
        <testsuite name="Testes de Modulos">
            <directory>src/</directory>
        </testsuite>
    </testsuites>
    <!-- <logging>
        <log type="testdox-text" target="relatorio-testes.txt"/>
    </logging> -->
</phpunit>
